[submodule "colour_hdri/resources/colour-hdri-examples-datasets"]
	path = colour_hdri/resources/colour-hdri-examples-datasets
	url = https://github.com/colour-science/colour-hdri-examples-datasets.git
[submodule "colour_hdri/resources/colour-hdri-tests-datasets"]
	path = colour_hdri/resources/colour-hdri-tests-datasets
	url = https://github.com/colour-science/colour-hdri-tests-datasets.git
