include COPYING
include LICENSE
include *.bib
include *.rst
include docs/_build/latex/ColourHDRI.pdf
graft colour_hdri/examples
graft docs/_build/html
graft docs/_build/doctrees
graft utilities
prune colour_hdri/examples/.ipynb_checkpoints
global-exclude *.pyc
global-exclude *.pyo
global-exclude ._*
global-exclude .DS_Store
